.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container-width{
    width:100%;
}

.container-margin-top{
    margin-top:10px;
}

.width-rut{
    width:75%;
}

.width-space{
    width:5%;
}

.width-dv{
    width:20%;
}

.border-none{
    border: 0;
}

.icon-edit:before{
    font-family: FontAwesome;
    content:"\f040";
    color:#FFF;
    font-size: 15px;
}

.icon-save:before{
    font-family: FontAwesome;
    content:"\f0c7";
    color:#FFF;
    font-size: 15px;
}

.icon-remove:before{
    font-family: FontAwesome;
    content:"\f00d";
    color:#FFF;
    font-size: 15px;
}

.login-error{
    position:absolute;
    z-index: 1;
    width:100%;
    text-align:left;
}

.icon-pet:before{
    font-family: FontAwesome;
    content:"\f1b0";
    color:#FFF;
    font-size: 15px;
}

.icon-add-pet:before{
    font-family: FontAwesome;
    content:"\f055";
    color:#FFF;
    font-size: 15px;
}