.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container-width{
    width:100%;
}

.container-margin-top{
    margin-top:10px;
}

.width-rut{
    width:75%;
}

.width-space{
    width:5%;
}

.width-dv{
    width:20%;
}

.border-none{
    border: 0;
}

.icon-edit:before{
    font-family: FontAwesome;
    content:"\f040";
    color:#FFF;
    font-size: 15px;
}

.icon-save:before{
    font-family: FontAwesome;
    content:"\f0c7";
    color:#FFF;
    font-size: 15px;
}

.icon-remove:before{
    font-family: FontAwesome;
    content:"\f00d";
    color:#FFF;
    font-size: 15px;
}

.login-error{
    position:absolute;
    z-index: 1;
    width:100%;
    text-align:left;
}

.icon-pet:before{
    font-family: FontAwesome;
    content:"\f1b0";
    color:#FFF;
    font-size: 15px;
}

.icon-add-pet:before{
    font-family: FontAwesome;
    content:"\f055";
    color:#FFF;
    font-size: 15px;
}

.icon-add-product:before{
    font-family: FontAwesome;
    content:"\f217";
    color:#FFF;
    font-size: 15px;
}

.icon-search:before{
    font-family: FontAwesome;
    content:"\f002";
    color:#FFF;
    font-size: 15px;
}

.icon-add:before{
    font-family: FontAwesome;
    content:"\f067";
    color:#FFF;
    font-size: 15px;
}

.icon-print:before{
    font-family: FontAwesome;
    content:"\f02f";
    color:#FFF;
    font-size: 15px;
}

.icon-download:before{
    font-family: FontAwesome;
    content:"\f0ed";
    color:#FFF;
    font-size: 15px;
}

.icon-pdf:before{
    font-family: FontAwesome;
    content:"\f1c1";
    color:#FFF;
    font-size: 15px;
}

.icon-eye:before{
    font-family: FontAwesome;
    content:"\f06e";
    color:#333;
    font-size: 15px;
}

.icon-hand:before{
    font-family: FontAwesome;
    content:"\f25a";
    color:#333;
    font-size: 15px;
}

.width-middle{
    width: 50%;
}

.searchField{
    min-width: 150px;
    width: 90%;
    margin: auto;
}

.searchButton{
    padding-left: 10px;
    min-width: 44px;
    width: 10%;
    margin: auto;
    text-align: right;
}

.display-none{
    display:none;
}

.add-product-ticket{
    width: 25%;
    text-align: left;
}

.width-25{
    width: 25%;
}

.ui-widget-header{
    color: #000;
}

.icon-alert:before{
    font-family: FontAwesome;
    content:"\f0f3";
    color:#FFF;
    font-size: 15px;
}