body{
    font-family: 'Lato', sans-serif;
}

img{
    width: 100%;
}

.midium-fonts{
    font-size: 1.5em;
}

.quitar-float{
    float: none;
}

.margin-superior{
    margin-top: 100px;
}

.margin-right{
    margin-right: 1em;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}

.fonts-high{
    font-size: 4em;
}

.green-color{
    color: #00887C
}

a,.blue-color{
    color: #009FFF
}

.design-list{
    margin: 0px;
    padding: 0px;
}

.design-list li{
    list-style-type: none;
}

.align-to-up{
    vertical-align: top;
}

.inline-block{
    float: none;
    display: inline-block;
    margin-right: -4px;
}

.be-gray{
    background-color: #eee;
}

.large-padding{
    padding: 5px 10px;
}

.div-authentication{
    background-color: #877B7B;
}